.navbar ul{
    list-style-type: none;
    background-color: hsl(262.42deg 72.9% 14.57%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin-left: 50%;
    
}
.navbar a:hover{
    background-color: hsl(254, 54%, 85%);
    width: 90%;
}
.navbar li{
    float: left;
    margin-left: 15%;
    }

#whole{
    background-color: rgb(213, 213, 247);
    text-align: center;

}
.second{
    display: flex;
    margin-top: 5%;
    font-size: x-large;
    background-color:  rgb(213, 213, 247);
}


.box1{
    margin-left: 10%;
    height: 50px;
}

.box2{
    margin-left: 10%;
    height: 50px;
}