.navbar ul{
    list-style-type: none;
    background-color: hsl(262.42deg 72.9% 14.57%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin-left: 50%;
    
}
.navbar a:hover{
    background-color: hsl(254, 54%, 85%);
    width: 90%;
}
.navbar li{
    float: left;
    margin-left: 15%;
    }

.boxes{
    display: flex;
    margin-left: 150px;
    
}
#whole{
  background-color: rgb(230, 249, 135);  
  font-family: 'PT Sans Narrow', sans-serif;
}

.box1{
    background-color: white;
    margin: 10px;
    height: 200px;
    width: 300px;
}

.box2{
    background-color: white;
    margin: 10px;
    height: 200px;
    width: 300px;
    
}

.box3{
    background-color: white;
    margin: 10px;
    height: 200px;
    width: 300px;
}

.box4{
    background-color: white;
    margin: 10px;
    height: 200px;
    width: 300px;
}

.box1 img{ width: 65%;
           height: 40%
           margin-right;: 100%
         }

.box2 img{ width: 65%;
           height: 40%
           margin-right;: 100%
                 }

.box3 img{ width: 65%;
    height: 40%
    margin-right;: 100%
                         }

.box4 img{ width: 65%;
    height: 40%
    margin-right;: 100%
                }